@import "tailwindcss";

@layer components{
  .head{
    @apply bg-pink-400 text-white text-center text-4xl font-black p-4
  }
  .btn{
    @apply bg-purple-950 text-white text-center text-4xl font-black p-4 w-fit m-2 rounded-2xl
  }
}